[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/root/test_install
ExecStart=/root/test_install/env/bin/gunicorn \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          test_install.wsgi:application
Restart=always
[Install]
WantedBy=multi-user.target
