{% load static %}

<header>
    <nav class="navigation">
        <a class="logo" href="/">
            <img src="{% static 'img/logo.svg' %}" alt="Логотип">
        </a>
        <ul class="main-menu">
            <li class="menu-item"><a href="/">Нейросети</a></li>
{#            <li class="menu-item"><a href="{% url 'articles_page' %}">Статьи</a></li>#}
{#            <li class="menu-item"><a href="{% url 'news_page' %}">Новости</a></li>#}
{#            <li class="menu-item"><a href="{% url 'contact_page' %}">Контакты</a></li>#}
        </ul>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <script src="{% static 'js/mobile-menu.js' %}"></script>
</header>